
Day Wise Data/Theory/Day 6/code/Servers/.settings/org.eclipse.wst.server.core.prefs
Day Wise Data/Theory/Day 6/code/.metadata/.log
*.log
Day Wise Data/Theory/Day 6/code/Servers/.settings/org.eclipse.wst.server.core.prefs
*.log
